@charset "utf-8";
/* CSS Document */
body {
    background-image: url();
    background-size: cover;
    font-family: 'unbounded';
}

#container { 
    width: 100%;
    height: 900px; 
    margin-left: auto;
    background-color: white;
    border-color: black;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    margin: 0; 
}

.header {
    image-orientation: url("desktop/PennyJuice_Home.png");
    background-color: white;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
        
}

.content {
    padding: 0;   
}

.nav {
    width: 100%;
    background-color: white;
    line-height: 35px;
    float: left;  
}

.nav a {
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.nav ul {
    float: left;
    list-style: none;
    position: relative;
}

.nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

.nav ul li a {
    display: block; 
    color: black;
    font-size: 14px;
    padding: 15px 15px;
    text-decoration: none;   
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: azure;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 9px 9px;
}

.nav ul li ul li {
    padding: 10px 14px;
}

.nav ul li ul li a {
    color: forestgreen;
}

.nav ul li ul li a:hover {
    color: darkgrey;
}

.flex-container {
    display: flex;
    background-color: white;
    justify-content: center;
    clear: both;
}

.flex-container>div {
    border-color: black;
    background-color: white;
    color: black;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 20px;
}

.footer {
    background-color: white;
    font-size: 8px;
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: 800px;
}

.slider-image {
    background-image: url("IMAGES/pennygif.gif");
    width: 75%;
    height: 60%;
}
.form {
    margin-top: -700px;
}